.loginModal h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    color: #191A15;
    margin: 54px 64px 0 64px;
}

.loginModal p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(25, 26, 21, 0.5);
    margin: 22px 64px 0 64px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
}

.inputLogin {
    position: relative;
}

.inputLogin label {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.inputLogin input {
    width: 438px;
    height: 52px;
    border: 1px solid rgba(25, 26, 21, 0.1);
    border-radius: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-style: regular;
    font-size: 16px;
    outline: none;
    margin: 0 64px;
    color: #191A15;
}

.inputLogin img {
    position: absolute;
    top: 35%;
    right: 80px;
    cursor: pointer;
}

.loginButton {
    width: 438px;
    height: 52px;
    border: 1px solid rgba(25, 26, 21, 0.1);
    border-radius: 30px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    font-style: regular;
    font-size: 16px;
    outline: none;
    margin: 30px 64px 64px 64px;
    background-color: #54BE96;
    color: #FBFBFB;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #36A379;
}

.inputLogin p {
    color:red;
    position: absolute;
    font-size: 14px;
    left: 5px;
    top: 35px;
}

@media (max-width: 1024px) {
    .inputLogin input {
        width: 90%;
        max-width: 380px;
    }

    .loginButton {
        width: 90%;
        max-width: 380px;
    }
}

@media (max-width: 767px) {
    .inputLogin input {
        width: 90%;
        max-width: 280px;
    }

    .loginButton {
        width: 90%;
        max-width: 280px;
    }
}